<template>
  <form class="card" @submit.prevent="handlerSubmit">
    <h1>Creat new task</h1>
    <div class="form-control">
      <label for="title">Title</label>
      <input type="text" id="title" v-model="title">
    </div>

    <div class="form-control">
      <label for="date">Date of deadline</label>
      <input type="date" id="date" v-model="date">
    </div>

    <div class="form-control">
      <label for="description">Description</label>
      <textarea id="description" v-model="description"></textarea>
    </div>

    <button class="btn primary" type="submit" :disabled="is_form_valid">Create</button>
  </form>
</template>


<script>
import {ref, computed} from 'vue'
import {useStore} from 'vuex'
import {useRouter} from 'vue-router'

export default{
  setup(){
    const store = useStore()
    const router = useRouter()

    const title = ref('')
    const date = ref('')
    const description = ref('')
  
    function handlerSubmit(){
      
      const task_data = {
        id: Date.now(),
        title: title.value,
        deadlineDate: date.value,
        description: description.value,
        status: {name: 'Active',
                 type: 'primary'}
      }
      
      const now = new Date()
      const current_date =  `${now.getFullYear()}-${now.getMonth()+1 < 10 ? '0': ''}${now.getMonth()+1}-${now.getDate()}`
      const dateCurrent = new Date(current_date)
      const dateSelected = new Date(date.value)
      
      if (dateSelected < dateCurrent) { // cancel task if carrent date is bigger then selected 
        task_data.status.name = 'Cancel'
        task_data.status.type = 'danger'
      }

      store.commit('addTask', task_data) // save task to store vuex
      
      title.value = ''
      date.value = ''
      description.value = ''

      router.push({name:'tasks'}) // redirect to home page
    }

    const is_form_valid = computed(() => {
      return title.value && date.value && description.value ? false : true  // disable button to submit form if data is empty
    })

    return {
      title,
      date,
      description,
      handlerSubmit,
      is_form_valid,
    }
  }
}
</script>