<template>
  <div>
    <div class="card" v-if="get_task">
      <h2>{{get_task.title}}</h2>
      <p><strong>Status</strong>: <AppStatus :statusObject="get_task.status" /></p>
      <p><strong>Deadline</strong>: {{get_task.deadlineDate}}</p>
      <p><strong>Description</strong>: {{get_task.description}}</p>
      <div>
        <button class="btn" @click="takeTaskInWork" :disabled="is_cancel">Take in work</button>
        <button class="btn primary" @click="finishTask" :disabled="is_cancel">Done</button>
        <button class="btn danger" @click="cancelTask" :disabled="is_cancel">Cancel</button>
      </div>
    </div>
    <h3 class="text-white center" v-else>
      Not found task with id = <strong>{{task_id}}</strong> 
    </h3>
  </div>
</template>

<script>
import AppStatus from '../components/AppStatus'
import {ref, onMounted, computed} from 'vue'
import {useStore} from 'vuex'
import {useRoute} from 'vue-router'
export default {
  setup(){
    const store = useStore()
    const route = useRoute()
    const statuses = ref(['Cancel'])

    const get_task = ref('')
    const task_id = route.params.taskId

    onMounted(() =>{
      const detail = store.getters.tasks.find(item => item.id === +task_id)
      console.log("detail ", detail)
      if (detail){
        get_task.value = detail
      }
    })

    function takeTaskInWork(){
      store.commit('change_task_status', {taskId: task_id, statusName: 'In work', statusType: 'warning'})
    }
    
    function finishTask(){
      store.commit('change_task_status', {taskId: task_id, statusName: 'Done', statusType: 'primary'})
    }

    function cancelTask(){
      store.commit('change_task_status', {taskId: task_id, statusName: 'Cancel', statusType: 'danger'})
    }
    const is_cancel = computed(()=>{
      return  ['Cancel', 'Done'].includes(get_task.value.status.name)
    }) 

    return {
      get_task,
      task_id,
      statuses,
      takeTaskInWork,
      finishTask,
      cancelTask,
      is_cancel
    }
  },
  components: {AppStatus}

}
</script>

<style scoped>

</style>