<template>
  <div>
    <h1 v-if="$store.getters.tasks.length <= 0" class="text-white center">There are no tasks</h1>
    <template v-else>
      <h3 class="text-white">Active tasks: {{$store.getters.count_active_tasks}}</h3>
      <app-tasks></app-tasks>
    </template>
  </div>
</template>

<script>
import AppTasks from '../components/AppTasks.vue'

export default {
  components: {AppTasks}
}
</script>
