<template>
    <div class="card" v-for="task in $store.getters.tasks" :key="task.id">
        <h2 class="card-title">
          {{task.title}}
          <AppStatus :statusObject="task.status" />
        </h2>
        <p>
          <strong>
            <small>
              {{task.deadlineDate}}
            <!--{{new Date().toLocaleDateString()}}-->
            </small>
          </strong>
        </p>
        <!--<button class="btn primary">Open</button>-->
        <router-link :to="'/task/' + task.id" custom v-slot="{navigate}"><button class="btn primary" @click="navigate">Open</button></router-link>
    </div>
</template>

<script>
import AppStatus from './AppStatus.vue'

export default {
    setup() {
        
    },
    components:{
        AppStatus
    }
}
</script>
